.array-input__container {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.array-input__input-container {
  display: block;
  position: relative;
  padding-bottom: 1.5rem;
}

.array-input__input-container p {
  position: absolute;
  color: red;
  bottom: 5px;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.array-input__input-container input {
  width: 50%;
  font-size: 16px;
  padding: 5px;
  display: flex;
}

.array-input__controls {
  display: flex;
}

.array-input__submit {
  margin-right: 1rem;
}
